#app {
    display: flex;
    overflow: hidden;
    padding: 0;
}
.row {
    --bs-gutter-x: 0 !important;
}
.content {
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
}

.sidebar-container {
    width: 255px;
    height: 100vh;
    overflow-y: scroll;
}

.sidebar {
    padding: 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
